.PopUp_acto_2a {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.PopUp_Acto_Contenido_2a {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80vh;
    /* Could be more or less, depending on screen size */
}

.Close_Acto2a {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.Close_Acto2a:hover,
.Close_Acto2a:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#texto_historia_acto_2a {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}

#Indicaciones_acto_2a {
    font-family: "Arial";
    font-size: 11px;
}